*
!.cache/
!.cache/mcpcube/
!.cache/mcpcube/**
!integrations/
!integrations/mcpcube/
!integrations/mcpcube/apache-routes.conf

!src/
!src/**
!requirements.txt
!tests/
!tests/**

!landing/
!landing/**
!packages/
!packages/client/
!packages/client/dist/
!packages/client/dist/index.js
